<div class="row">
  <div class="large-12 columns">
    <h2>About Date my Dog</h2>
  </div>
</div> 

<div class="row"> 
  <div class="large-6 columns">
    <div class="column, medium-centered">
      <h4>The project </h4>
      <p>Date my dog is a project created by <a href="https://twitter.com/ProjectPrettyy" target="_blank">Sophie</a>, <a href="https://twitter.com/bvinel" target="_blank">Bruno</a> and <a href="https://rabeameetscode.wordpress.com/" target="_blank">Rabea</a> - all students of the General Assembly web development bootcamp.</p>
      <p>This is our first group project and was great opportunity to learn how to write code together with others, use GitHub to store and merge code and generally coordinate ideas and distribute tasks.</p>
      <p>We worked on this for about one week, including planning and execution.</p>
      <p>We used the Wrike project management tool to organise ourselves and held several team meetings per day to catch up on each other's progress.</p>
    </div>
  </div> 

  <div class="large-6 columns">
    <div class="column, medium-centered">
      <h4>Technology used in this project: </h4>
      <ul>
        <li>Ruby</li>
        <li>Rails</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>HTML5 </li>
        <li>CSS3</li>
        <li>various Ruby Gems like: Devise, Ransack, CanCan, Mailboxer, Carrierwave, Acts as Votable, Geocode.</li>
      </ul>
      <p>CSS styling was done with Foundation.</p>
    </div>
  </div> 
</div>
