<h1>FAQs</h1>

<p>Confused.com about DateMyDog.com? Not a problem. Answers to all your questions are below.</p>

<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#panel1b">What is Date my Dog?</a>
    <div id="panel1b" class="content">
    Date my Dog is an innovative dog dating website which helps your dog find the perfect companion in your area.
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel2b">I am an avid dog owner from Barking, Essex. Are there any dogs in my area?</a>
    <div id="panel2b" class="content">
      You like dogs and live in Barking! How funny! Understandibly you want to find dogs that are close to your location. And that's why we invented a very clever feature and put it right at the top of <%= link_to "your homepage", users_path %>! It's a map. A map that shows your current location (blue marker) and all the dogs' homes near you (red markers). Handy, (git) init?
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel3b">I have a lesbian dog who is exclusivley interested in female dogs. How can I filter the dogs?</a>
    <div id="panel3b" class="content">
     Female dogs are indeed lovely creatures. You can easily filter by using the search functionality in the right side bar. No matter where you are on our website, that little magnifying glass is always ready and waiting for you. One click and the search form appears. You submit and we redirect you to the search results page. Simples!
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel4b">Wow! I found a really awesome dog! How can I contact it?</a>
    <div id="panel4b" class="content">
     Well, we suspected that you would be infatuated by one of our dogs sooner or later. Therefore we created a messaging functionality! Either go to the dog owner's profile and click "Message me!" or message directly from the map marker pop up windows.
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel5b">There are so many awesome dogs on here. I wish I could remember all my favourites. Any idea how to do this?</a>
    <div id="panel5b" class="content">
      Sure! Just click the little star on the dog profile page to favourite your dog and then go to ... to see your list of favourits. Awwww... so many lovely dogs!
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel6b">My dog "Fluffy" is a bit ugly but has a lovely barking voice. Is there any way I can showcase this beautiful singsang?</a>
    <div id="panel6b" class="content">
      But of course! We recommend that you still upload a photo of your dog, even though it's a bit ugly. Otherwise you might see a broken image on your profile page which is not very nice. However on your dog's profile page you can also upload a sound file of the barking. We are sure that will convince other dogs to look beyond the ugly exterior.
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel7b">I don't have access to the internet. Can I still use this website?</a>
    <div id="panel7b" class="content">
     How did you even get to this page if you don't have access to the internet? Weirdo.
    </div>
  </dd>
</dl>