<h1>Welcome to the website for Dogs dating Dogs</h1>
<p>Explaination of the website</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut lacus mi. Etiam bibendum, lectus sed fringilla placerat, orci metus tincidunt nunc, in consequat ante justo a felis. Proin quis sapien mi. Phasellus id enim sit amet arcu commodo egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vitae faucibus odio</p>
<h3>Join us</h3>
<h1>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
</h1>
