<div class="row"> 
  <div class="large-6 columns">
    <div class="column, medium-centered">
      <h3>Is your dog lonely?</h3>
      <p>Struggling to find friends? Now it can find like-minded dogs in your area! Sign up to our website - it's simple and it's free!</p>
      <p>Sign in through Facebook, set up your profile and add your dog(s).</p>
      <p>Start dating now!</p>
    </div> 
  </div> 
  <div class="large-6 columns">
    <div class="column, medium-centered">
      <h3>Like or share us on Facebook!</h3>
      <div class="fb-like" data-href="https://www.facebook.com/pages/Date-my-dog/848272358529309" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div> 
  </div> 
</div>
