.main-section {
  padding-right: 0.1em;
  padding-left: 0.1em;
}

h1 .logo {
  font-family: 'Courgette', cursive;
  color: #2C6700;
  font-size: 2em;
  text-align: center;
}

.FB-sign-in {
  font-size: 2em;
  text-align: center;
  box-shadow: 3px 3px 10px #888888;
  background-color: #FCA504;
  padding: 1em 2em 1em 2em;
}

.email_log {
  color: #2C6700;
}

.column .large-centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.column .medium-centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.menu_title {
  position: relative;
  left: 3.2em;
  top: -2.1em;
}

.display_none {
  display: none;
}

#map-canvas { 
  height: 22em; 
  border: 1px solid black;
}

#map-canvas img {
  max-width: none;

}

#map-user {
  height: 8em; 
  border: 1px solid black;
  margin: 1em 0 1em 0;
}

#add_section {
  height: 8em;
  box-shadow: 3px 3px 10px #888888;
  margin: 0.5em 0 0.5em 0;
  text-align: center;

}
@keyframes blink {  
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
    }
    @-webkit-keyframes blink {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
    }
    .blink {
      animation: blink 1s step-start 0s infinite;
      -webkit-animation: blink 1s step-start 0s infinite;
      padding: 5px;
      background-color: #f04124;
      width:150px;
    }

    .blink a {
      color: white;
    }
    

.tiny-image {
  margin-right: 0.3em;
  /*-moz-border-radius:x;
  -webkit-border-radius:10px;*/
  border-radius:50% ;
}

.profile-image {
  border-radius:50%
}
    