<div class="large-12 columns">
  Copyright Date My Dog 2015 | <%= mail_to 'datemydognow@gmail.com', 'admin@date-my-dog.com' %>  | <% if !current_user %><%= link_to "Admin Sign In", new_user_session_path %> <% end %>
</div>