<div class="row">
  <section id="add_section">
      <div class="large-2 columns text-center">
        <br><br>
        <h4>Ad Example</h4>
      </div>
      <div class="large-8 columns text-center">
      <%=image_tag('ads-dog-holiday.png', id: "ads_img") %>
      </div>
      <div class="large-2 columns text-center">
        <br><br>
        <h4>Ad Example</h4>
      </div>
  </section>
</div>
<div class="row">
  <div class="large-12 columns text-center">
    Copyright Date My Dog 2015 | <%= mail_to 'datemydognow@gmail.com', 'admin@date-my-dog.com' %>  | <% if current_user %>Your user ID: <%= current_user.id %> |<% end %> <% if !current_user %><%= link_to "Admin Sign In", new_user_session_path %> <% end %> 
  </div>
</div>